#instructions, #table, #researching, h1, h2, h3, h4, h5, h6, p, #td, #quPresent, #titleQu, th
{
    color:rgb(255, 255, 255);
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
a
{
    text-decoration: none;
}

button
{
border-radius: 20px;
height: 50;
width: 100;
font-size: 30px;
background-color: rgb(0, 0, 0);
color:rgb(255, 255, 255);
animation-name: example;
animation-duration: 10s;
animation-iteration-count: infinite;
}
button:hover {
    background-color: rgb(26, 25, 25);
    /* color: rgb(255, 255, 255); */
}
#quFormBut
{
    font-size: 40px;
    border-radius: 50px;
    height: 100;
    width: 200;
}
input
{
    border-radius: 20px;
    font-size: 20px;
    height: 50;
    width: 200;
}

#Gamer, #app1231
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
html,body
{
    background-color: rgb(0, 0, 0);
    margin:0;
    padding:0;
    overflow-x:hidden;
}
/* hello CSS */
#hello
{
    position: relative;
    left: 550px;
    top: 200px;
    /* visibility: hidden; */
}
#welcome
{
    position: relative;
    left: 100px;
    top: -100px;
    font-size: 50px;
}
/* end of hello CSS */
#firstLevel
{
    width: 1000px;
    height: 500px;
    position: relative;
    left: 200px;
    /* visibility: hidden; */
}
/* tic tac toe game CSS */
#cong
{
    top: -50px;
    position: relative;
    left: 100px;
}
#continue
{
    top: 500px;
    position: absolute;
    left: 475px;
}
#ticTacToeGame
{
    width: 300px;
    position: relative;
    top: 100px;
    left: 550px;
}
td
{
    width: 100px;
    height: 100px;
    font-size: 100px;
    text-align: center;
    line-height: 0px;
}
td:hover
{
    background-color: rgb(43, 43, 43);
}
#quPresent
{
    font-size: 30px;
    position: relative;
    top: -60px;
    left: 650px;
}
#titleQu
{
    font-size: 30px;
    position: relative;
    top: -60px;
    left: 650px;
}
.gameOver
{
    text-align: center;
    position: relative;
    top: 270px;
    left: 50px;
}
#table
{
    position: relative;
    top: 100px;
    left: 600px;
}
#instructions
{
    position: relative;
    top: -150px;
    left: 100px;
    width: 419px;
    height: 150px;
}
/* end of tic tac toe CSS */
/* researching CSS */
#video
{
    position: relative;
    top: 20px;
    left: center;
    text-align: center;
    height: 600px;
}
#body
{
    overflow: hidden;
}
#article
{
    position: relative;
    text-align: center;
    top: 20px;
}
#questions
{
    position: relative;
    top: 100px;
    text-align: center;
}

#roboticsArticle
{
    position: relative;
}

#roboticsVideo
{
    position: relative;
}

#quForm
{
    position: relative;
}
#audioPlayer
{
    position: fixed;
    left: 100px;
}
#PreviousSong
{
    position: fixed;
    overflow: hidden;
    top: -16px;
    left: 14px;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
#TheNextSong
{
    position: fixed;
    overflow: hidden;
    top: -16px;
    left: 400px;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {color:rgb(255, 0, 0);}
    7.1%  {color:rgb(255, 72, 0);}
    14.1%  {color:rgb(255, 187, 0);}
    21.1%  {color:rgb(255, 251, 0);}
    28.1% {color:rgb(136, 255, 0);}
    35.1%   {color:rgb(0, 255, 98);}
    42.1%  {color:rgb(0, 255, 200);}
    49.1%  {color:rgb(0, 140, 255);}
    56.1%  {color:rgb(0, 89, 255);}
    63.1% {color:rgb(174, 0, 255);}
    70.1%   {color:rgb(195, 0, 255);}
    77.1%  {color:rgb(255, 0, 179);}
    84.1%  {color:rgb(255, 0, 85);}
    100%  {color:rgb(255, 0, 0);}
  }


  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-color: #000000;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
  }

#dfs
{
    position: relative;
    top: 20px;
    left: center;
    text-align: center;
    hyphens: auto;
}


/* #roboticsVideo1:hover .idh3
{
    width: 100%;
    height: auto;
    opacity: 0.3;
} */
